{% extends "master.html" %}

{% block title %}
  logowanie
{% endblock %}


{% block headstall %} Logowanie do mojej spiżarni {% endblock %}

{% block content %}

<!-- <div class="container my-3 border border-1 p-3">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> Tam do licha !</strong>{{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
</div>      -->

<div class="shadow container mt-5 mb-5 p-2 col-sm-4 border border-1">
<form method="POST">
    {% csrf_token %}
    <div>
        <label class="form-label pt-2" for="username">Użytkownik: </label>
        <input class="form-control" id="username" name="username" type="text" placeholder="Wpisz swoje imię">
    </div>
    <div>
        <label class="form-label mt-3" for="password">Hasło: </label>
        <input class="form-control" id="password" name="password" type="password" placeholder="Wpisz swoje hasło">
    </div>
    <div>
    <input class="btn btn-primary my-3" type="submit"  value="Zaloguj"> 
    </div>
</form>
</div>
{% endblock %}