nav {
  position: sticky;
  top: 3px;
  background-color: #a0b313;
  padding: 3px;
  text-align: left;
  border: #005817 solid 1px ;
}

header {
  font-size: 30px;
  padding: 5px;
  color: #3a5a04;
  margin: 5px;
  text-align: center;
}

body {
  background-image: url("image/pantry.jpg");
  background-repeat: repeat;
  font-family: 'Courier New', Courier, monospace;
}

article {
  background-color: #f2eeea;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #413b36;
}

footer {
  position: sticky;
  bottom: 3px;
  background-color: #e5e57c;
  border: solid 1px #f09a06;
  color: #753C00;
  font-size: small;
  padding: 3px;
}

#working{
  font-size: 15px;
  color: #023849;
  text-align: left;
  margin: 5px;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #1c4602 ;
  padding: 5px;
  border-radius: 5px;
}

th, td {
  text-align: left;
  font-size: 14px;
  text-align: center;
}

/* tr:nth-child(even){
  background-color:#FFC991;
} */

#buttonNav:link, #buttonNav:visited {
  background-color: #005817;
  color: #C5E6CE;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin: 3px;
  border: 1px solid #005817;
}

#buttonNav:hover, #buttonNav:active {
  background-color: #C5E6CE;
  color: #005817;
  border: 1px solid #005817;
  padding: 5px;
  margin: 3px;
}

button {
  padding: 5px;
  background-color: #023849;
  color: #BCD3DA;
  border: 1px solid #023849;
  border-radius: 5px;
  margin: 2px;
}
button:hover, button:active {
  background-color: #BCD3DA;
  color: #15556A;
  border: 1px solid #023849;
}

input{
  width: 100px;
  border: solid 1px gray;
  background-color: #f0f0e7;
  font-size: 15px;
  border-radius: 5px;
}

#listprod{
  background-color:#FFEDDA ;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #753C00;
  cursor: pointer;
}
#listprod:hover, .color-complement-4{
  background-color: #FFEDDA;
  border-radius: 10px;
}
#listprod:active {
  background-color:#D18E48;
}

#listprod:visited{
  background-color:#D18E48;
}

form{
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  text-align: left;
}

#alert{
  background-color: #306E83;
  color: white;
  width:500px;
  padding: 5px;
  border-radius: 5px;
}

/* py manage.py collectstatic  */