/* ==> ustawienie root dla REM <== */

html{
  font-size: 16px;
}

/* ==> ustawienia body <== */

body{
  background-image: linear-gradient(to right, rgba(189, 164, 95, 0.664) , rgba(88, 99, 129, 0.637));
  margin: 0;
  padding: 0;
}

/*
body{
  background-image: url("/static/image/wrobeleknim.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}
*/

/* ==> ustawienia głównych elementów strony <== */

article{

  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Belleza', cursive;
  border-radius: 10px;
}

header{
  text-align: center;
}

h1{
  letter-spacing: 3px;
  padding: 5px;
  font-family: 'Belleza', cursive;
  font-size: 2.5rem;
  margin: 21px;
}

#demo{
  font-size: 3rem;
  color: red;
  border: dotted 5px yellow;
  background-color: orange;
}

section{
  padding: 21px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 50px;
}

h2{
  letter-spacing: 4px;
  color: #110c0c;
  font-size: 2rem;
  border-top: #383232 dashed 1px;
  border-bottom: #383232 dashed 1px;
  padding: 8px;
  margin: 0;
}

h3{
  font-size: 1.5rem;
  border-bottom: dotted black 2px;
  padding-bottom: 5px;
}

.description{
  margin: 0;
  text-align: justify;
  padding: 13px;
  font-size: 1.2rem;
  background-color: rgba(250, 250, 250, 0.774) ;
  border-radius: 5px;
  margin-top: 13px;
}

.skills{
  background-color: white;
  font-size: 3rem;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 5px;
  padding: 8px;
  margin-top: 13px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 13px;
}

figure{
  padding: 0;
  min-width: 235px;
  text-align: center;
  margin: 0;
 }

figcaption{
  padding: 0;
  margin: 0;
  margin-top: 8px;
  font-size: 1rem;
  color: black;
  text-align: center;
}

footer{
  background-color: #151111;
  padding: 5px;
  font-size: 0.8rem;
  font-family: 'Belleza', cursive;
  color: rgb(219, 200, 200);
  text-align: center;
}

footer a{
  text-decoration: none;
}

.envelope{
  color:rgb(219, 200, 200);
  margin-left: 5px;
  transition: all 0.2s ease-in-out;
}
.envelope:hover{
color: white;
margin-left: 8px;
transform: scale(2) rotate(360deg);
}


/* ==> pasek nawigacji na stronie <== */

.navbar{
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Belleza', cursive;
  padding:13px;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: darkblue;
  padding: 5px;
  display: inline-block;
}

.navbar a:hover{
  background-color: #99B7F7;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.navbar .icon {
  display: none;
}

.sticky{
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 100;
}

/* ==> ustawienia dla kontenera prezentacji projektów <== */

.project{
  background: none;
  padding: 13px;
  margin-top: 13px;
  
}

.bulkPackage{
  background-color: rgba(255, 255, 255, 0.5) ;
  border-radius: 5px;
  padding: 10px;
  margin-top: 13px;

}

.pojhub{
  width: 100%;
  text-align: center;
  border-top: black dotted 2px;
  padding-top: 10px;
}

.gitclick{
  transition: all .2s ease-in-out;
}

.gitclick:hover{
  transform: scale(1.2) rotate(-20deg);
}

.github{
  font-size: 50px;
  color: rgb(121, 121, 121);
  margin-bottom: 20px;
  
}

.github:hover{
  color: #000000;
  
}

/* ==> ustawienia dla kontenera Zainteresowania i pasje <== */

.passion{
  display: none;
  
}

.passion img{
  vertical-align: middle;
}
.passion figcaption{
  margin-top: 13px;
  background-color: rgba(255, 255, 255, 0.61);
  padding: 5px;
  border-radius: 5px;
}

.passions-conteiner {
  max-width: 500px;
  position: relative;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* ==> ustawienie responsywności dla strony <== */

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

@media only screen and (max-width: 1000px) {

.col-t-1 {width: 8.33%;}
.col-t-2 {width: 16.66%;}
.col-t-3 {width: 25%;}
.col-t-4 {width: 33.33%;}
.col-t-5 {width: 41.66%;}
.col-t-6 {width: 50%;}
.col-t-7 {width: 58.33%;}
.col-t-8 {width: 66.66%;}
.col-t-9 {width: 75%;}
.col-t-10 {width: 83.33%;}
.col-t-11 {width: 91.66%;}
.col-t-12 {width: 100%;}

  article{
    width: 100%;
    padding: 13px;
  }

  .navbar{
    text-align: left;
  }

  .navbar a{
    display: none;
  }

  .navbar .icon {
    display: block;
  }
  
  .navbar.responsive a{
    float: none;
    text-align: left;
    display: block;
  }

}

@media only screen and (min-width: 1000px) {
  
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
  

  article{
    width: 100%;
    max-width: 1100px;
    padding: 13px;
  }

}


