

.instruction img {
  width: 100%;
  height: auto;
  border: 1px solid rgb(216, 215, 215);
  margin-top: 10px;
}

.navbar-nav .nav-item.active .nav-link {
  color: #007bff;
  background-color: #f0f0f0;
  border-radius: 5px;
}

/* czerwony #FAA88E , pomarańczowy #FCDD88 , zielony #B6E37B , seledynowe #91FFD7 , niebieski #99B7F7 */
    
#container{ 
        
  width: 1020px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
  color: rgb(52, 51, 51);
  font-size: large;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: 'Tillana', cursive;
  -webkit-box-shadow: 7px 7px 30px 5px rgba(204, 204, 204, 1);
  -moz-box-shadow: 7px 7px 30px 5px rgba(204, 204, 204, 1);
  box-shadow: 7px 7px 30px 5px rgba(204, 204, 204, 1);
}

p{
  text-align: justify;
}

#menu{
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  
}

ol{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
}

ol a {
  text-decoration: none;
  color: darkblue;
  width: 225px;
  display: block;
}

ol > li{
  float: left;
  border-right: 1px dotted black;
  border-radius: 5px;
}

ol > li:first-child{
  border-left: 1px dotted black;
}

ol > li:hover{
  background-color: #99B7F7;
  
}

ol > li > a:hover{
  color: white;
}

.rectangle{
  background-color:#99B7F7;
  padding: 20px;
  border-radius: 5px;
  margin-top: 25px;
}

#myfoto{
  float: left;
  margin-right: 20px;
  margin-top: 50px;
  
}

#mydescription{
  width: 720px;
  float: left;
  background-color: white;
  color: rgb(41, 40, 40);
  padding: 20px;
  border-radius: 5px;
}

h2{
  letter-spacing: 2px;
}


#skills{
  margin-top: 50px;
  background-color: #B6E37B;
  padding: 20px;
  border-radius: 5px;

}

.skill{
  width: 94px;
  height: 96px;
  margin: 5px;
  background-color: white;
  float: left;
  font-size: 50px;
  border-radius: 5px;
}

#projects{
  background-color: #FCDD88;
  padding: 20px;
  margin-top: 50px;
  border-radius: 5px;
}

.project{
  width: 300px;
  height: 550px;
  background-color: white;
  float: left;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  position: relative;

}

.pojhub{
  position: absolute;
  bottom: 0;
  width: 300px;
}

.github{
  font-size: 50px;
  color: rgb(121, 121, 121);
  margin-bottom: 20px;
}
.github:hover{
  color: #FCDD88;
}

#hobby{
  background-color: #B6E37B;
  padding: 20px;
  margin-top: 50px;
  border-radius: 5px;
}
.fotohobby{
  float: left;
  margin-left: 10px;
  border-radius: 5px;
}

figure{
  padding-right: 5px;
  padding: 0;
 }

figcaption{
  margin-top: 10px;
  padding: 0;
  font-size: 15px;
  color: black;
}
