{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="Pantry, Home pantry management, Pantry inventory management, Shopping list management "/>
    <meta name="description" content="A home pantry management application that automatically, generates a shopping list as needed. "/>
    <meta name="author" content="Krzyszof Wróblewski"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="{% static 'pantry_script.js' %}"></script>
    <script src="https://kit.fontawesome.com/e515080353.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'pantry_style_about_me.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?&family=Belleza&display=swap" rel="stylesheet"> 

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>{% block title %}{% endblock %}</title>
    
</head>

<body>
    <header>
        <h1>Krzysztof Wróblewski</h1>
    </header>

    <nav class="sticky">
        <ul class="menu" >
            <li><a href="#wstep">Wstęp</a></li>
            <li><a href="#umiejetnosci">Umiejętności</a></li>
            <li><a href="#projekty">Projekty</a></li>
            <li><a href="#pasje">Zainteresowania</a></li>
            <li><a href="/">Spiżarnia</a></li>
        </ul>
    </nav>

<main>
<article>
    <section id="description">

        <header><h2><a name="wstep">Wstęp</a></h2></header>

        <div class="row"> 
            <div  class="col-3" id="myfoto">
            <figure style="float:left;">
                <img src="/static/image/myfotos.jpg" alt="Zdjęcie autora">
                <figcaption>mgr inż. Krzysztof Wróblewski</figcaption>
            </figure>
            </div>
            <div class="col-9">
                <p>
                Tworzenie, stwarzanie, projektowanie, wymyślanie, odkrywanie, eksplorowanie to jest coś co mnie kręci  <i class="fa-solid fa-face-grin-stars"></i>. 
                Świat aplikacji webowych pod tym względem niema dla mojego umysłu granic a&nbsp;każdy jego zakątek jest godny kolejnej przygody. 
                Temat jest tak obszerny, z&nbsp;tak wieloma jeszcze nieodkrytymi możliwościami, że patrząc w&nbsp;dal z&nbsp;wrażenia mnie zatyka i&nbsp;rozbudza.
                Programowanie rozpocząłem od języka Python, bo mnie zafascynował swą zgrabnością i&nbsp;czytelnością.
                Początki nie były łatwe, teraz poznawanie kolejnych nowości i&nbsp;ich układanie idzie mi znaczenie łatwiej. 
                </p>
            </div>
        </div>

    </section>
    
    <div class="freespace">
    </div>

    <section class="row" id="skills">

        <header><h2><a name="umiejetnosci">Umiejętność </a></h2></header>

        <div class="row">
            <div class="col-1 skill">
                <i class="fa-brands fa-python"></i>
             </div>

            <div class="col-10">
                <p>Głównym trzonem moich umiejętności jest język Python i&nbsp;wraz z&nbsp;nim 
                    farmework Django. Repozytorium githuba obsługuję z&nbsp;wiersza poleceń git bush</p>
             </div>

            <div class="col-1 skill">
                <i class="fa-brands fa-square-git"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-1 skill">
                <i class="fa-brands fa-html5"></i>
            </div>
            <div class="col-10">
                <p>
                Do tworzenia stron używam HTML5 a&nbsp;do niego bardzo pomocny okazał się framework Bootstrap,
                który przyspieszył tworzenie wizualne przyjemnej aplikacji My Patry.

                </p>
            </div>
            <div class="col-1 skill">
                <i class="fa-brands fa-bootstrap"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-1 skill">
                <i class="fa-brands fa-css3-alt"></i>
            </div>

            <div class="col-10">
                <p>
                    Język CSS3 mam wielkie możliwości przy stylizacji stron, 
                    im lepiej poznaje tym więcej poznaje tajników sztuczek i&nbsp;fajerwerków. 
                    Używałem go do stylizacji tej strony. Reacta dopiero poznaję.
            </div>

            <div class="col-1 skill">
                <i class="fa-brands fa-react"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-1 skill">
                <i class="fa-brands fa-js"></i>
             </div>

             <div class="col-10">
                <p>Magia Java Scriptu jedno zapytanie do serwera i&nbsp;działanie na stronie. 
                W&nbsp;przeszłości uczyłem się też pracy w&nbsp;Wordpressie teraz to jest do odświeżenia. 
             </div>

             <div class="col-1 skill">
                <i class="fa-brands fa-wordpress"></i>
            </div>
        </div>

        <div class="col-12">
            <p> Jest jeszcze kilka innych umiejętności jak: Praca z&nbsp;SQL przez MySQL czy PostgreSQL.
                Bezwzrokowa obsługa klawiatury typu Dvoraka - bardzo pomocna umiejętność.
                Przez okres studiów korzystałem z&nbsp;systemu Linux obecnie z&nbsp;Windowsa.
              </p>
        </div>     
        
    </section>

    <div class="freespace">
    </div>
   
    <section class="row" id="projects">
        <header><h2><a name="projekty">Moje projekty</a></h2></header>
            <p> Wiele było prób, ćwiczeń, nauki i&nbsp;poszukiwań rozwiązań problemów. 
                Napisane programy wciąż nie są idealne i&nbsp;jest co przy nich robić.
                Jednak każdy kolejny napisany program, jest lepszy &#128515; ładniejszy, zgrabniejszy. 
                Patrząc w&nbsp;przyszłość na to co napisałem myślę sobie: "Łooo Paaanie kto Panu tak to napisał"&#128517; i&nbsp;przystępuje do refaktoryzacji swojego kodu. 
                <br>Oto trzy wybrane projekty.
            </p>


        <div class="row project">
            <header><h3>Deszyfrator</h3></header>

            <div class="col-3">
                <figure>
                    <img src="/static/image/deszyfrator.jpg" alt="preenscreen programu">
                    <figcaption>Deszyfrator Tote</figcaption>
                </figure>
            </div>
            
            <div class="col-9">
                <p><b>Opis:</b> Bardzo prosty program pomocny w&nbsp;rozszyfrowaniu celu przeznaczenia skrzynek transportowych w&nbsp;centrum dystrybucji, 
                    napisany w&nbsp;Pythonie z&nbsp;wykorzystaniem biblioteki Tkinter do wygodniejszej obsługi.<br>
                    <b>Cel:</b>
                Ułatwić sortowanie skrzynek z&nbsp;materiałem do wysyłki by wyeliminować błędy i&nbsp;przyspieszyć proces sortowania.</p>
            </div>
        
            <div class="pojhub">
                <a class="github" href="https://github.com/SiedzacyBobr/SorterForTote"><i class="gitclick fa-brands fa-github"></i></a>
            </div>
        </div>
        
        <div class="row project">
            <header><h3>Spiżarnia comp</h3></header>
            

             <div class="col-3">
                <figure>
                    <img src="/static/image/spizarniacomp.jpg" alt="preenscreen programu">
                    <figcaption>Spiżarnia Comp.</figcaption>
                </figure>
                
            </div>
            
            <div class="col-9">
                <p><b>Opis: </b>Program do zarządzania spiżarnią domową napisany w&nbsp;Pythonie z&nbsp;wykorzystaniem biblioteki Tkinter by ułatwić jego obsługę.
                    <br><b>Cel: </b> Wygodniejsze niż w&nbsp;exelu panowanie nad posiadanymi zapasami w&nbsp;własnej spiżarni i&nbsp;automatyczne generowanie listy potrzebnych zakupów do uzupełnienia bezpiecznego stanu z&nbsp;możliwością wydruku.</p>
            </div>
 
            <div class="pojhub">
                <a class="github" href="https://github.com/SiedzacyBobr/MyPantry"><i class="gitclick fa-brands fa-github"></i></a>
            </div>
        </div>

        <div class="row project">
            <header><h3>Spiżarnia Web.</h3></header>
            
            
            <div class="col-3">
                <figure>
                    <img src="/static/image/spizarniaweb.jpg" alt="preenscreen programu">
                    <figcaption>Spiżarnia Web.</figcaption>
                </figure>
            </div>
         
            <div class="col-9">
                <p><b>Opis:</b> Aplikacja webowa do zarządzania spiżarnią domową z&nbsp;wykorzystaniem frameworka Django. 
                    <br><b>Cel:</b> Udostępnić aplikację przez internet by był łatwy dostęp z&nbsp;telefonu. &#128526;
                Co z&nbsp;założenia ma ułatwić korzystanie z&nbsp;aplikacji w&nbsp;domu i&nbsp;sklepie &#128512; </p>
            </div>
    
            <div class="pojhub">
                <a class="github" href="https://github.com/SiedzacyBobr/MyPantry"><i class="gitclick fa-brands fa-github"></i></a>
            </div>
        </div>
       
    </section>

    <div class="freespace">
    </div>

    <section id="interests">
        <header><h2><a name="pasje">Zainteresowania i pasje </a></h2></header>

        <p> O&nbsp;tym tylko wspomnę &#128521; Bardzo lubię organizować gry terenowe dla harcerzy i&nbsp;nietylko, mam z&nbsp;tego sporo radochy. 
            Ostatnia gra była między narodowa na Camparee na Węgrzech. Przygotowana przez zespół 3HG czyli Three Hats Games pod tytułem; 
            Rover Hike dla bliko 200 osób.
            Od czasu do czasu szkicuje co mnie relaksuje, rzadziej maluje.
            Czas wolny spędzam w&nbsp;ogrodzie tworząc, pielęgnując, skalne aranżacje. 
            A&nbsp;gdy wieje i&nbsp;jest okazja podnoszę żagle i&nbsp;żegluję. 
            Kilka razy do roku wędruje po górach i&nbsp;zjeżdżam na nartach.
        </p>

        <div class="col-4 fotohobby">
            <img src="/static/image/zagle.jpg" alt="Żeglowanie">
        </div>

        <div class="col-4 fotohobby">
            <img src="/static/image/zamek.jpg" alt="Ogród skalny">
        </div>

        <div class="col-4 fotohobby">
            <img src="/static/image/karpacz.jpg" alt="Góry">
        </div>

        <div style="clear: both;"></div>

    </section>
    <div class="freespace">
    </div>

</article>
</main>

<footer>
    <address>Autor:  Krzysztof Wróblewski <a href="mailto:krzysztof.wroblewski.01@gmail.com"> 
        <i class="fa-solid fa-envelope"></i></a></address>
    &copy wszelkie prawa zastrzeżone.

    <div> 
         Genesis 1:31 Viditque Deus cuncta quæ fecerat, et erant valde bona.
          Et factum est vespere et mane, dies sextus.  
    </div>

</footer>

</body>

</html>

  


