{% extends "master.html" %}

{% block title %}
  categoria
{% endblock %}


{% block headstall %} Kategorie {% endblock %}
{% block content %}
<div class="container col-sm-7">
  <table class="table table-hover">
    <tr>
      <th> Kategoria </th>
      <th> Poprawienie </th>
      <th> Kasowanie</th>
    </tr>
    {% for x in category %}
    <tr>
      <!-- td = teble data czyli komurka z wartością -->
      <td class="col-sm-4">{{x.cate}}</td>
      <td><a href="/update_cate/{{x.pk}}" class="btn btn-warning btn-sm"><i class="fa-regular fa-pen-to-square"></i> Edytuj </a></td>
      <td><a href="/delete_cate/{{x.pk}}" class="btn btn-danger btn-sm"><i class="fa-regular fa-trash-can"></i> Usuń</a></td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3"><a href="/add_cate" class="btn btn-success col-sm-4"> <i class="fa-regular fa-square-plus"></i> Dodaj kategorie </a></td>
    </tr>
  </table>
</div>
  
{% endblock %}

