{% extends "master.html" %}

{% block title %}
  Kategorie
{% endblock %}


{% block headstall %} Kategorie {% endblock %}

{% block content %}
<div class="container col-sm-7">
    <table class="table table-hover">
      <tr class="table-success">
        <th> Kategoria </th>
        <th> Operacje </th>
      </tr>

      {% for x in category %}
      <tr>
          <td>
            {{x.cate}}
          </td>

          <td>
            <a class="btn btn-warning btn-sm" style="width:75px" href="/update_cate/{{x.pk}}">  <i class="fa-regular fa-pen-to-square"></i> Edytuj </a>
            <a class="btn btn-danger btn-sm" style="width:75px" href="/delete_cate/{{x.pk}}">  <i class="fa-regular fa-trash-can"></i> Usuń </a>
          </td>
      </tr>
      {% endfor %}

      <tr>
        <td colspan="2">
          <a href="/add_cate" class=" text-start btn btn-success col-12"> <i class="fa-regular fa-square-plus"></i> Dodaj: Nową kategorie </a>
        </td>
      </tr>

    </table>
</div>
  
{% endblock %}

