{% extends "master.html" %}

{% block title %}
  Usuwanie produktu
{% endblock %}


{% block headstall %} <p class=" text-danger h1 "><i class="fa-solid fa-triangle-exclamation"></i> Usuwanie produktu z spiżarni!</p> {% endblock %}



{% block content %}

<form method="post" class="text-center">
  {% csrf_token %} 

  <div class="alert alert-danger p-3 m-3 border border-1">
    Czy jesteś pewien, że chcesz usunąć z swojej spiżarni produkt: <strong>{{pk_product}}</strong>
  </div>

  <div>
  <button type="submit" class="btn btn-danger mx-3 mb-3"> <i class="fa-regular fa-trash-can"></i> Tak usuń </button>
  <a class="btn btn-primary mb-3" href="{% url 'my_pantry' %}"> <i class="fa-solid fa-person-walking-arrow-loop-left"></i> Nie usuwaj </a>
  </div>

</form> 

{% endblock %}
