{% extends "master.html" %}

{% block title %}
  delete
{% endblock %}


{% block headstall %} Usuwanie produktow {% endblock %}



{% block content %}

<form method="post" class="text-center">
  {% csrf_token %} 

  <div class="alert-warning">
    Czy jesteś pewien że chcesz usunąć z swojej spiżarni produkt: {{pk_product}}
  </div>

  <div>
  <button type="submit" class="btn btn-danger"> Usuń </button>
  <a class="btn btn-primary" href="{% url 'my_pantry' %}"> Powrót </a>
  </div>

</form> 

{% endblock %}
