{% extends "master.html" %}

{% block title %}
    Na zakupy
{% endblock %}
{% block headstall %} Lista zakupów {% endblock %}

{% block content %}
{% if varisempty >= 0 %}
<div class="container border border-info col-sm-7">
        <table class="table table-hover mt-2">
          <tr class="table-success">
            <th> Produkt </th>
            <th class="text-center"> Ilość </th>
            <th class="text-center"> Kupione</th>
          </tr>

          {% for key, values in listbuy.items %}
          <tr>
            <td > {{key}} </td>
            <td class="text-center">{{values}}</td>
            <td class="text-center"><input type="checkbox"></td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="3">
              <button onclick="window.print()" class="btn btn-success text-center col-12"> <i class="fa-solid fa-print"></i> Wydrukuj liste zakupów</button>
            </td>
          </tr>
      </table> 
</div>
{% endif %}
{% endblock %}


