{% extends "master.html" %}

{% block title %}
    go
{% endblock %}
{% block headstall %} Lista Zakupów {% endblock %}

{% block content %}

  {% if  varisempty == 0 %}
  <header class="alert alert-success"> Spiżarnia jest pełna </header>

    {% else %}
        <table class="table table-hover">
          <tr>
            <th> Product </th>
            <th> ilość </th>
            <th> kupione</th>
          </tr>

          {% for key, values in listbuy.items %}
          <tr>
            <td> {{key}} </td>
                <td>{{values}}</td>
            <td><input type="checkbox"></td>
          </tr>
          {% endfor %}
          <tr class="text-center">
            <td colspan="3"><button onclick="window.print()" class="btn btn-success">Wydrukuj liste zakupów</button></td>
          </tr>
      </table> 
  {% endif %}

{% endblock %}


