{% extends "master.html" %}

{% block title %}
  my_pantry
{% endblock %}
<!-- To jest dopiero początek -->
{% block headstall %}Spiżarnia Domowa{% endblock %}

{% block content %}
    <p>Idea powstania spiżarnik powstała przed pójściem na zakupy<br> 
      Całą myśl sprowokowało pytanie: "czy jest jeszcze cukiej" <br>
      No jest, ale ile i czy to wystarczającą czy już za mało?</p>

     <p> Aplikacja ma pomóc w robioniu zakupów. </p>
    <hr>
    <p>Oco tu chodzi ?</p>
    <from>
      <label for="name">Suwak:</label>
      <input type="range" id="name" min="0" max="100" value="75">
    </from>
    <hr>
      <p>Sa trzy lokalizacje produktów: <br>
      Sklep, Spiżarnia i Kuchnia<br>
      1. Zasoby w sklepach są dostępne za pieniądze <br>
      2. zapasy w Spiżarni to żelazny zapas. <br>
      3. Kuchnia to miejsce spożądzania posiłków</p>
      <hr>
      
      <p><b>Aplikacja sprawdza stan Spiżarni<br>
      Gdy czegoś jest już mniej generuje listę zakupów.<br>
      Teoretycznie wyjmując z spiżarni zabieramy całe opakowania do kuchni. </b><br>
      I odnotowujemy to w apkacji z założenia ma być to proste. <br>
      Lista zakupów jest generowana w oparciu różnice <br> między zakładanym żelaznym zapasem a stanem faktycznym </p>
      <p>1</p>
      <p>2</p>
      <p> 3</p>
      <p>4</p>
      <p>5</p>
      <p> 6</p>
      <p>7</p>
      <p>8</p>
      <p> 9</p>
{% endblock %}