{% extends "master.html" %}

{% block title %}
  my_pantry
{% endblock %}
<!-- To jest dopiero początek -->
{% block headstall %}Spiżarnia Domowa{% endblock %}

{% block content %}
<article class=" container p-3 my-3 card bg-light col-sm-7">
  <header class="card-title h4"> Idea powstania </header>
  <p class="card-text">
    Ideą jaka przyświecała temu programowi jest po pierwsze
     automatyczne generowanie listy zakupów.
      Oczywiście by mogła być wygenerowana lista
       potrzeba jest sprawdzić ile jest towaru w spiżarni i się zaczęło.</p>
</article>


<article class=" container p-3 my-3 card bg-light col-sm-7">
  <header class="card-title h4"> Główne cele </header>
  <p class="card-text">
    Automatyczne generowanie listy zakupów, drukowanie lub kożystanie z tel.
    Łatwość w dodawaniu i odejmowaniu productów w magazynie kożystając z tel.</p>
</article>

<article class=" container p-3 my-3 card bg-light col-sm-7">
  <header class="card-title h4"> Zasady działania </header>
  <p class="card-text">
    <ol>Sa trzy lokalizacje produktów:
      <li>Sklep - lokacja z której uzupełnia się spiżarnię</li>
      <li>Spiżarnia - lokacja z której uzupełnia sie kuchnię</li>
      <li>Kochnia - lokacja utylizacji produktów przez konsumpcje</li>
    </ol>
  </p>
  <p class="card-text">
    Aplikacja liczy różnicę mięzy ilością productu w zpiżarni do zadeklarowanego przez użytkownika żelaznego zapasu.
    Gdy wynik jest ujemny generuje listę zakupów z określoną ilością jaka jest potrzeba do uzupełnienia żelaznego zapasu.
    W założeniu z spiżarni do kuchni przenosi się całe opakowania np. 1kg cukru czy 1 puszka groszku.
  </p>
</article>    
      
{% endblock %}