{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="Pantry, Home pantry management, Pantry inventory management, Shopping list management "/>
    <meta name="description" content="A home pantry management application that automatically, generates a shopping list as needed. "/>
    <meta name="author" content="Krzyszof Wróblewski"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- <link rel="stylesheet" href = "{% static 'dupa.css' %}"/>
    
    <script src="{% static 'main_javaskript.js'%}"></script> -->
</head>

<body>

<nav class="container-lg my-2">
    <ul class="nav bg-info">
    <li class="nav-item">
    <a class="nav-link link-light" href="/"> Start </a>
    </li>
    <li class="nav-item">
    <a class="nav-link link-light" href="/my_pantry"> Spiżarnia </a>
    </li>
    <li class="nav-item">
    <a class="nav-link link-light" href="/go"> Na zakupy </a>
    </li>
    <li class="nav-item">
    <a class="nav-link link-light" href="/with"> Po zakupach </a>
    </li>
    </ul>
</nav>

<main>
<article class="container">
    <header class="text-center h1">{% block headstall %}{% endblock %}</header>
    <section>{% block content %}{% endblock %}</section>
</article>
</main>

<footer class="container-lg card-footer">
    <div class="row">
    <address class="col">
    <a href="mailto:krzysztof.wroblewski.01@gmail.com"> admin: Krzysztof Wróblewski </a>
    </address>
    <p class="col" style="text-align: right;">strona utworzona w 2023</p>
    </div>
</footer>

</body>
</html>