{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="Pantry, Home pantry management, Pantry inventory management, Shopping list management "/>
    <meta name="description" content="A home pantry management application that automatically, generates a shopping list as needed. "/>
    <meta name="author" content="Krzyszof Wróblewski"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/e515080353.js" crossorigin="anonymous"></script>
    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>{% block title %}{% endblock %}</title>
    
</head>

<body>

<div class="container">

    <nav class="navbar navbar-expand-lg bg-primary fixed-top border border-light">

        <div class="container-fluid">
            <ul class="nav nav-tabs">

                <li class="nav-item">
                <a class="nav-link link-light" href="/"><i class="fa-solid fa-circle-info"></i> Start </a></li>
                
                <li class="nav-item">
                <a class="nav-link link-light" href="/my_pantry"><i class="fa-solid fa-warehouse"></i> Spiżarnia </a></li>
        
                <li class="nav-item">
                <a class="nav-link link-light" href="/go"> <i class="fa-solid fa-list"></i> Na zakupy </a></li>
        
                <li class="nav-item">
                <a class="nav-link link-light" href="/with"> <i class="fa-solid fa-basket-shopping"></i> Po zakupach </a></li>
        
                <li class="nav-item">
                <a class="nav-link link-light" href="/category"><i class="fa-solid fa-jar"></i> Kategoria </a></li>
            
            </ul>
        </div>

        {% if user.is_authenticated %}

            <ul class="nav row justify-content-center px-3">
                
                    <li class="nav-item"><a class=" col nav-link btn btn-warning btn-sm mx-2" href="/logout"> Wylogowanie <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                    
                    <li class="nav-item"><a class=" col nav-link link-light px-2"> Zalogowany: <i class="fa-regular fa-user"></i> {{ user.username }} </a></li>
                
            </ul>

        {% else %}

            <ul class="nav justify-content-center">

                <li class="nav-item"><a class="nav-link btn btn-warning btn-sm mx-2" href="/login">Logowanie <i class="fa-solid fa-arrow-right-to-bracket"></i> </a></li>
        
            </ul>
            
        {%endif%}
    
    </nav>
</div>


<div class="container">
<main>
    <header class="text-center h1 mt-4 ">{% block headstall %}{% endblock %}</header>
    <section>
        {% block content %}{% endblock %}
    </section>
</main>
</div>

<div style="width: 100%; height: 75px;"></div>

<footer class="container-fluid bg-secondary fixed-bottom border border-light">
    <div class="row">
    <address class="col">
    <a href="mailto:krzysztof.wroblewski.01@gmail.com"> admin: Krzysztof Wróblewski </a>
    </address>
    <p class="col" style="text-align: right;">strona utworzona w 2023</p>
    </div>
</footer>

</body>
</html>