{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="Pantry, Home pantry management, Pantry inventory management, Shopping list management "/>
    <meta name="description" content="A home pantry management application that automatically, generates a shopping list as needed. "/>
    <meta name="author" content="Krzyszof Wróblewski"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href = "{% static 'main_satic.css' %}"/>
    
    <script src="{% static 'main_javaskript.js'%}"></script>
</head>

<body>

<nav>
    <a id="buttonNav" href="/"> Home </a>
    <a id="buttonNav" href="/my_pantry"> Pantry </a>
    <a id="buttonNav" href="/go"> Go to </a>
    <a id="buttonNav" href="/with"> Return from</a>
</nav>

<main>
<article>
    <header>{% block headstall %}{% endblock %}</header>
    <div id="working">{% block content %}{% endblock %}</div>
</article>
</main>

<footer>
    <address>
        <a href="mailto:krzysztof.wroblewski.01@gmail.com"> admin: Krzysztof Wróblewski </a>
        <p>strona utworzona w 2023</p>
    </address>
</footer>

</body>
</html>