{% extends "master.html" %}

{% block title %}
  spiżarnia
{% endblock %}


{% block headstall %} Moja Spiżarnia {% endblock %}
{% block content %}

  <table>
    <!-- tr = teble row czyli wiers-->
    <tr>
      <!-- teble header = tytułu kolumn -->
      <th> operacja </th>
      <th style="width: 160px;"> Nazwa produktu </th>
      <th style="width: 40px;"> Ilość </th>
      <th style="width: 40px;"> Zapas </th>
      <th> Do przeniesienia</th>
    </tr>

    {% for x in products %}
    <tr>
      <!-- td = teble data czyli komurka z wartością -->
      <td>
      <a id="buttonNav" href="/update/{{x.pk}}"> Edytuj </a>
      <a id="buttonNav" href="/delete/{{x.pk}}"> Usuń </a>
      </td>

      <td>{{x.id}} {{ x.name }} </td>

      <td>{{ x.quty }}</td>

      <td>{{ x.sefty }}</td>

      <td>
        <a id="buttonNav" href="/to_kitchen/{{x.pk}}"> Przenieś </a>
      </td>

    </tr>
    
    {% endfor %}
    <tr>
      <td colspan="6" style="text-align: center;"><a id="buttonNav" href="/adding"> Dodaj nowy product </a></td>
    </tr>
  </table>

  
{% endblock %}

