{% extends "master.html" %}

{% block title %}
  spiżarnia
{% endblock %}


{% block headstall %} Spiżarnia domowa {% endblock %}
{% block content %}
<div class="row mb-3 mt-3">
  
    {% csrf_token %}
    <label class="col" for="kateoria">wybierz kategorie: </label>

    <select id="kateoria" name="pobierane_id" class="col form-select mx-3">
      <option selected> Kategoria do wyboru </option>
        {% for cate in m_category %}

        <form action="{% url 'select_cate'%}" method="post">
        <option value="{{cata.id}}">{{cate.id}}  {{cate.cate}}</option>

        {% endfor%}
    </select>
    <button class="col btn btn-success btn-sm mx-1" type="submit" ><i class="fa-solid fa-filter"></i> Filtruj </button>
        </form>

</div>

  <table class="table table-hover">
    <tr >
      <th> Nazwa produktu </th>
      <th class="text-center"> W spiżarni </th>
      <th class="text-center"> Ilość wyciągana ze spiżarni</th>
      <th class="text-center"> Żelazny zapas</th>
      <th> Operacje </th>
      <th> kategoria </th>
    </tr>

    {% for x in products %}
    
    <tr> 
      <td> {{x.category_id}} {{ x.name }}</td>
      <td class="text-center">{{ x.quty }}</td>
      <td><form action="{% url 'to_kitchen' x.id %}" method="post" class="row">
        {% csrf_token %}
        <input class="col form-control form-control-sm border mx-1" Style="width: 50px;" type="number" name="quty" min="0" max="{{x.quty}}" value="0" >
        <button class="col btn btn-primary btn-sm mx-1" type="submit" ><i class="fa-regular fa-square-minus"></i> Wyjmij</button>
      </form></td>
      <td class="text-center">{{ x.sefty }}</td>
      <td>
        <a href="/update/{{x.pk}}" class="btn btn-warning btn-sm"><i class="fa-regular fa-pen-to-square"></i> Edytuj </a>
        <a href="/delete/{{x.pk}}" class="btn btn-danger btn-sm"><i class="fa-regular fa-trash-can"></i> Usuń</a>
      </td>
      <td>{{x.category_id}}</td>

    </tr>
    
    
    {% endfor %}
  </table>

  
{% endblock %}

