{% extends "master.html" %}

{% block title %}
    Edycja Produktu
{% endblock %}


{% block headstall %} Edytowanie produktów {% endblock %}


{% block content %}

<form method="POST" class="form-control form-control-sm">
{% csrf_token %} 
{{ form.as_p }}
<button type="submit" class="btn btn-success "><i class="fa-solid fa-thumbs-up"></i> Aktualizuj </button>
<a class="btn btn-primary " href="{% url 'my_pantry' %}"><i class="fa-solid fa-person-walking-arrow-loop-left"></i> Powrót </a>
</form>


{% endblock %}