{% extends "master.html" %}

{% block title %}
    Po zakupach
{% endblock %}


{% block headstall %} Po zakupach {% endblock %}

{% block content %}
<div class="container col-sm-7">
          <table class="table table-hover">
            <tr class="table-success">
              <th> Nazwa Produktu </th>
              <th class="text-center"> Zakupiona ilość </th>
              <th class="text-center"> W spiżarni </th>
            </tr>

            {% for x in for_safety %}
            <tr>
              <td>{{x.name}}</td>
              <td>
                <form class="row" action="{% url 'action_shopping' x.id %}" method="POST"  >
                  {% csrf_token %}
                  <input class="form-control form-control-sm border mx-1" style="width: 100px;" type="number" name="quty" min="0" value="0" >
                  <button class="btn btn-primary btn-sm mx-1" style="width: 100px;" type="submit" > <i class="fa-regular fa-square-plus"></i> Dodanie </button>
                </form>
              </td>
              <td class="text-center"> {{x.quty}}</td>
            </tr>
            
            {% endfor %}
            <tr>
              <td colspan="3"> 
                <a href="/adding" class=" text-start btn btn-success col-12"> <i class="fa-regular fa-square-plus"></i> Dodaj: Nowy produkt </a>
              </td>
            </tr>
          </table>
</div>
{% endblock %}
